<div class="lateral">
  <div class="main-item">Matriculas xx/xx/xxxx/</div>
  <ul>
    <li class="suject main-item">ITEM UNO</li>
    <li class="child-item">Item hijo 1</li>
    <li class="child-item">Item hijo 2</li>
  </ul>
  <ul>
    <li class="suject main-item">ITEM DOS</li>
    <li class="child-item">Item hijo 1</li>
    <li class="child-item">Item hijo 2</li>
  </ul>
  <ul>
    <li class="suject main-item">ITEM TRES</li>
    <li class="child-item">Item hijo 1</li>
    <li class="child-item">Item hijo 2</li>
  </ul>
</div>